.header {
    
    margin-top: 100px;
    margin-bottom: 90px;
}

.headerTitle {
    max-width: 630px;
}

.headerTitle h1{
    margin: 0;
    margin-bottom: 24px;
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
}

.headerTitle p{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}